server:
  servlet:
    context-path: /scheduler
spring:
  application:
    name: backend
  jpa:
    database-platform: org.hibernate.dialect.OracleDialect

management:
  endpoint:
    health:
      probes:
        enabled: true

logging:
  level:
    org:
      h2: TRACE
    hibernate: TRACE