spring:
  #datasource:
  #  url: jdbc:h2:mem:testdb;MODE=Oracle;
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        show_sql: true
    defer-datasource-initialization: true
  h2:
    console:
      enabled: true
      path: /h2-console
      settings.trace: true
      settings.web-allow-others: false
  sql:
    init:
      platform: h2
      continue-on-error: false